.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--vt--azul--claro);
}

.container h1 {
    font-size: 3rem;
}
.row {
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
.entrada {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}
.icons path:hover {
    color: white;
    cursor: pointer;
}

.input input {
    width: 200px;
    height: 150px;
    border: none;
    border-radius: 10px;
    color: var(--vt--azul--claro);
    font-size: 5rem;
    font-weight: bold;
    padding-left: 50px;
    background-color: var(--vt--azul--escuro);
    -webkit-box-shadow: var(--vt-shadow);
    box-shadow: var(--vt-shadow);
}

.box__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__btn button {
    background-color: var(--vt--azul--escuro);
    color: white;
    font-size: 2rem;
    box-shadow: var(--vt-shadow);
    border-radius: 15px;
    padding: 15px 50px 15px 50px;
    border: none;
}

.box__btn button:hover {
    cursor: pointer;
    background-color: var(--vt--azul--claro);
}
