.WorkAm{
    color:var(--vt--amarelo);
    margin-bottom: 20px;
    font-weight: bold;

}
.WorkVer{
    color:var(--vt--verde);
    margin: 20px;
    font-weight: bold;

}

.sliderAm{
    width: 350px;
    height: 40px;
    border:2px solid var(--vt--amarelo);
    border-radius: 20px;

}
.sliderVer{
    width: 350px;
    height: 40px;
    border:2px solid var(--vt--verde);
    border-radius: 20px;

}

.thumb{
    background-color: var(--vt--verde);
    cursor:pointer;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}
.thumb2{
    background-color: var(--vt--amarelo);
    cursor:pointer;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}


