:root {
  --vt--azul--ecuro: #333853;
  --vt--azul--claro: #9fa1ae;
  --vt--verde: #219653;
  --vt--amarelo: #f2c94c;
  --vt-shadow: -4px 5px 9px 4px rgb(0 0 0 / 21%);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--vt--azul--ecuro);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
