.button {
    display: flex;
    justify-content:space-between;
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    font-size: 5rem;
    align-items: center;
}
.button:hover {
    background-color: transparent;
    color: #219653;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.button svg {
    width: 100px;
}
